@if (hasThreads) {
<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    <h5 class="mb-0">Inbox</h5>

    <div class="action-menu d-flex align-items-center gap-3">
      <button class="btn" type="button" (click)="refresh()">
        <img src="/icons/refresh.svg" alt="Action: refresh" />
      </button>
    </div>
  </div>
  <div class="card-body">
    @for (thread of threads; track $index) {
    <app-inbox-item [thread]="thread"></app-inbox-item>
    }
  </div>
  <div class="card-footer">
    <app-footer></app-footer>
  </div>
</div>
} @else {
<div class="loader">
  <div
    class="spinner-border d-flex align-self-center"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
}
