<div
  class="message-pane d-flex justify-content-start gap-2 current"
  [ngClass]="{ current: isCurrent }"
>
  @if (!isCurrent) { <app-avatar [user]="message.sender"></app-avatar> }
  <div class="card message-card">
    <div class="card-body" [innerHTML]="message.body | linkify"></div>

    <div class="card-footer d-flex align-items-center gap-1">
      <button class="btn">Summarize</button>
      <div class="divider"></div>
      <span>{{ time | date : "h:mm a" }}</span>
    </div>
  </div>
  @if (isCurrent) { <app-avatar [user]="message.sender"></app-avatar> }
</div>
