<div class="card composer-card">
  <div class="card-header d-flex flex-column gap-2">
    <div class="action-menu d-flex align-items-center gap-2">
      <button class="btn" type="button" (click)="goBack()">
        <img src="/icons/arrow-left.svg" alt="Action: go back" />
      </button>
      <h5 class="mb-0 page-title">Composer</h5>
    </div>
  </div>
  <div class="card-body" [formGroup]="composerForm">
    <div class="d-flex flex-column gap-1 mb-3">
      <input
        type="text"
        placeholder="To"
        class="form-control"
        formControlName="to"
      />
      <input
        type="text"
        placeholder="Subject"
        class="form-control"
        formControlName="subject"
      />
    </div>
    <textarea
      class="form-control text-editor"
      cols="1"
      rows="1"
      formControlName="body"
      placeholder="What is on your mind?&#10;&#10;Instruct Smart to compose an email for you&#10;&#10;For example:&#10;&#10;* Inform Benard I won't be available in the office today. He is my coworker"
    ></textarea>
  </div>
  <div class="card-footer">
    <div class="d-grid">
      <div
        class="btn-group"
        role="group"
        aria-label="Composer action button group"
      >
        <button type="button" class="btn btn-primary" (click)="compose()">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              @if (processing) {
              <div class="spinner-grow spinner-grow-sm" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              } @else {
              <span>Compose</span>
              }
            </div>
          </div>
        </button>

        <div class="btn-group" role="group">
          <button
            type="button"
            class="btn btn-primary"
            [ngbPopover]="composerMenu"
            popoverClass="composer-popover"
          >
            <img src="/icons/chevron-down.svg" alt="" />
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #composerMenu>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="d-flex align-items-center gap-1">
          <img src="/icons/send.svg" alt="" width="20" height="20" />
          <span>Send</span>
        </div>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <div class="d-flex align-items-center gap-1">
          <img src="/icons/write.svg" alt="" width="20" height="20" />
          <span>Compose</span>
        </div>
      </a>
    </li>
  </ul>
</ng-template>
