<div class="container-fluid text-center">
  <img src="/images/logo.svg" alt="Smart mail logo" />
  <h1 class="title mb-4">Smart Mail</h1>
  <p class="text-muted mb-5">
    Your intelligent email assistant! Powered by AI, SmartMail simplifies your
    inbox by summarizing emails and suggesting thoughtful replies, helping you
    communicate faster and smarter. Say goodbye to email overwhelm and hello to
    effortless productivity!
  </p>

  <button class="btn btn-primary" (click)="authorize()">Authorize Gmail</button>
</div>
